body {
    background: #181c24;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
#visualization {
    margin: 20px auto;
    display: block;
}
input, button {
    padding: 10px;
    margin: 10px;
    font-size: 1.1em;
}